@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(C:\Users\Admin\Downloads\bg_pc.png);
  image-resolution: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: inherit;
  background-position: -3px -7rem;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  font-size: larger;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 65%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
}

.login {
  margin-top: 10rem;
  background-color: #698fc7;
  padding: 2rem;
  width: 100%;
}

h3 {
  padding-bottom: 3px;
  border-bottom: 4px solid #0368ff;
  /* border-radius: 50px; */
  display: inline;
  width: 100%;
}

input[type="text"],
input[type="password"],
button {
  /* width: 100%; */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.me {
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: flex-start;
  font-size: medium;
  /* gap: 5px; */
}

button {
  border: none;
  cursor: pointer;
  background-color: #004bbc;
  border-radius: 50px;
  color: white;
  font-style: inherit;
  font-size: large;
}

.usericon {
  position: absolute;
  width: 1.9rem;
  right: 8px;
  top: 4rem;
  border: none;
  color: black;
}

.lock {
  position: absolute;
  width: 2rem;
  right: 8px;
  top: 8rem;
  border: none;
  color: black;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  margin-left: 8rem;
}
